
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>
<div class="flex-column justify-space-around">
  <header class="display-flex justify-space-between align-center p-2">
   


<div class="container">
  <div class="columns is-centered">
    <div class="column is-half">
      <div class="field">
        <label class="label">Enter your current Home City!</label>
        <input id="searchinput" class="input is-medium" type="text" placeholder="San Francisco, CA">
        <label class="label mt-4">Where would you like to be Your Future Home City?</label>
        <input id="futureinput" class="input is-medium" type="text" placeholder="Atlantic City, NJ">
        <button class="button is-primary" id="searchbtn">Search</button>
      </div>
    </div>
  </div>

  <div class="columns is-centered">
    <div class="column is-half">
      <h2 id="results" class="level-item subtitle is-4 has-text-weight-semibold">Results:</h2>
      <div id="result"></div>
    </div>
  </div>
</div>

<script src="./js/search.js"></script>