
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>


<div class="column">
    <h2 class="level-item subtitle is-4 has-text-weight-semibold">Sign-up!</h2>

    <form class="signup-form">
      <div class="field">
        <label class="label" for="name-signup">Name:</label>
        <div class="control">
          <input class="input is-hovered is-primary" type="text" id="name-signup" />
        </div>
      </div>

      <div class="field">
        <label class="label" for="email-signup">Email:</label>
        <div class="control">
          <input class="input is-hovered is-primary" type="text" id="email-signup" />
        </div>
      </div>
      <div class="field">
        <label class="label" for="password-signup">Create Password:</label>
        <div class="control">
          <input class="input is-hovered is-primary" type="password" id="password-signup" />
        </div>
      </div>
      <div class="field">
        <div class="control level-item">
          <button class="button is-primary" type="submit">Signup</button>
        </div>
      </div>
    </form>
  </div>
</div>
